<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
</head>

<body>
	<h1>Welcome to Dashboard</h1>
	<div>

		<p>Username: <span th:text="${user.username}"></span></p>
		<p>Email: <span th:text="${user.email}"></span></p>
		<p>Age: <span th:text="${user.age}"></span></p>
		<p>Date of Birth: <span th:text="${user.dateOfBirth}"></span></p>
		<p>Location: <span th:text="${user.location}"></span></p>
		<p>Gender: <span th:text="${user.gender}"></span></p>
		<p>Employment Status: <span th:text="${user.empStatus}"></span></p>
		<img th:src="${user.imagePath}" alt="Profile Picture" width="200" height="200" />
	</div>
	<div>
		<h2>Edit User Details</h2>
		<form action="/dashboard/edit" method="post">
			<input type="hidden" name="id" th:value="${user.id}" />
			<label>Username: </label><input type="text" name="username" th:value="${user.username}" /><br><br>
			<label>Email: </label><input type="email" name="email" th:value="${user.email}" /><br><br>
			<label>Age: </label><input type="number" name="age" th:value="${user.age}" /><br><br>
			<label>Date of Birth: </label><input type="date" name="dob" th:value="${user.dateOfBirth}" /><br><br>
			<label>Location: </label><input type="text" name="location" th:value="${user.location}" /><br><br>
			<label>Gender: </label><input type="text" name="gender" th:value="${user.gender}" /><br><br>
			<label>Employment Status: </label><input type="text" name="empStatus"
				th:value="${user.empStatus}" /><br><br>
			<label>Profile Picture: </label><input type="text" name="imagePath" th:value="${user.imagePath}" /><br><br>
			<input type="submit" value="Save Changes" />
		</form>
	</div>
</body>

</html>